body {
  font-family: "Roboto", sans-serif;
}

.ShadowEffect {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}
.ShadowEffect2 {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.58));
}

.ShadowEffect:hover {
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}
.ShadowEffect3 {
  filter: drop-shadow(10px 10px 10px rgba(12, 12, 12, 0.58));
}

.ShadowEffect3:hover {
  filter: drop-shadow(0px 0px 10px rgb(248, 0, 0));
}

.card {
  background: #111010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-in-out;
}

.img {
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.textBox {
  height: 100%;
  background-color: #1717177e;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.textBox > .text {
  font-weight: bold;
  text-align: center;
}

.textBox > .head {
  font-size: 20px;
}

.textBox > .price {
  font-size: 17px;
}

.card:hover > .textBox {
  opacity: 1;
}

.card:hover > .img {
  height: 100%;
  filter: blur(7px);
  animation: anim 3s infinite;
}
